<div class="main-block">
  <div class="block-info-news">
    <h1>Selected news</h1>
    <h3>HEADER News  :  {{ oneNewsHeader }}</h3>
    <h3>TEXT News  :  {{ oneNewsText }}</h3>
  </div>

  <div class="block-all-categories">
    <button (click)="SendCategories()">Submit</button>
    <div class="block-news-input">
      <h4>Type of news:</h4>
      <div class="input-category">
        <input [ngModel]="inputNewsType" disabled>
        <button (click)="toggleNewsTypes()">
          {{buttonNewsTypes}}
        </button>
      </div>
      <h4>Region:</h4>
      <div class="input-category">
        <input [ngModel]="inputNewsRegion" disabled>
        <button (click)="toggleNewsRegions()">
          {{buttonNewsRegions}}
        </button>
      </div>

      <ng-container *ngIf="showNewsTypes" class="container-types">
        <div class="block-types">
          <ul *ngFor="let type of newsTypes">
            <li>
              <a (click)='clickNewsType(type.nameNewsType, type.id)' id="{{type.id}}">{{type.nameNewsType}}</a>
            </li>
          </ul>
        </div>
      </ng-container>

      <ng-container *ngIf="showNewsRegions" class="container-regions">
        <div class="block-regions">
          <ul *ngFor="let type of newsRegions">
            <li>
              <a (click)='clickNewsRegion(type.nameNewsRegion)' id="{{type.id}}">{{type.nameNewsRegion}}</a>
            </li>
          </ul>
        </div>
      </ng-container>

      <ng-container *ngIf="showNewsTypesKinds" class="container-kinds">
        <div class="block-kinds">
          <ul *ngFor="let kind of newsTypesKindSelectedType">
            <li>
              <a (click)='clickNewsTypesKind(kind.nameKind)' id="{{kind.id}}">{{kind.nameKind}}</a>
            </li>
          </ul>
        </div>  
      </ng-container>
    </div>
  </div>
</div>
